
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
        url('../fonts/NotoSansCJKkr-Regular.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
        url('../fonts/NotoSansCJKkr-Bold.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
