$screen-min: 1025px;
$screen-max: 1200px;
$mobile: 320px;
$tablet: 768px;


$f-color: #E5E5E5;
$f-over-color: #8E8E8E;
$f-size-default: 14px;
$f-size-s: 10px;
$f-size-m: 12px;
$f-size-l: 18px;
$f-size-xl: 24px;

$modal-cont-bg: #333;
$modal-bg: rgba(0,0,0,.5);
$border-bg: #CCC;
$root: '..' !default;


