// required
@import "base";
@import "input";

.contact{
    .page-title{
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        @include mo-tablet(){
            font-size: 24px;
        }

        small{
            display: block;
            margin-bottom: 20px;
            font-size: 24px;
            @include mo-tablet(){
                margin-bottom: 15px;
                font-size: 14px;
            }
        }
    }
    .c_inner{
        margin-top: 150px;
        @include tablet(){
            margin-top: 70px;
        }
        @include mobile(){
          margin-top: 20px;
        }
    }
    .inner{
        width: 400px;
        margin:78px auto 0;
        @include mo-tablet(){
            margin-top: 50px;
        }
        @include mobile(){
          width: auto;
          padding: 0 18px;
        };
    }
    .inp_note{
        font-size: 18px;
        @include mo-tablet(){
            font-size: 14px;
        }
    }
    .btn{
        &-wrap{
            margin-top: 25px;
        }
        &_stroke{
            width: 100%;
        }
    }
}
