// required
@import "base";

.modal{
    &s{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: $modal-bg;
        opacity: 0;
        transition: opacity .35s;

        &.show{
            opacity: 1;
        }
    }

    &_container{
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 15px;
        border-radius: 5px;
        background-color: $modal-cont-bg;
        transform: translate(-50%, -50%);
        @include mobile(){
            width: 95%;
            max-width: 360px;
        }
    }

    &_close{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 24px;
        height: 24px;
        background: url(../images/btn_modal.svg) no-repeat 50% / 100% auto;
        
        @include pc(){
            &:hover{
                background-image: url(../images/btn_modal-over.svg);
            }
        }
        @include mo-tablet(){
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #1E1E1E;
            background-size: 66%;
            background-position: 50% 60%;
        }
    }
}

.m_login{
    box-sizing: border-box;
    width: 360px;
    height: 240px;

    .modal_header{
        padding: 6px 15px 34px;
        border-bottom: 1px solid $border-bg;

        .logo{
            @include mo-tablet(){
                width: 173px;
            }
        }
    }
    .modal_content{
        margin: 10px 15px 0;

    }

    .btn_sns{
        overflow: hidden;
        margin-top: 10px;
        border-radius: 4px;
        img{
            width: 100%;
        }
    }
}

.m_exhibition{
    overflow: hidden;
    @include pc(){
        height: 450px;
    }
    @include tablet(){
        width: 600px;
    }
    @include mo-tablet(){
        height: 95%;
    }
    .c_flex-side{
        align-items: flex-start;
        @include mo-tablet(){
            display: block;
            height: 100%;
            overflow: auto;
        }
    }
    .ex{
        &-play{
            position: relative;
            width: 600px;
            @include mo-tablet(){
                width: auto;
            }
            .thumb{
                @include pc(){
                    width: 600px;
                    height: 450px;
                }
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .btn_play{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @include mo-tablet(){
                    margin-top: 10px;
                }

                .icon_play span{
                    display: block;
                    margin-top: 4px;
                    font-weight: bold;
                }
            }
            .icon_view{
                position: absolute;
                bottom: 10px;
                right: 20px;
                padding-left: 23px;
                font-size: $f-size-l;
                font-weight: bold;
                line-height: 20px;
                &::before{
                    position: absolute;
                    left: 0;
                }
            }
        }

        &-info{
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding: 20px 20px 0;
            @include pc(){
                width: calc(100% - 600px);
            }
            @include mo-tablet(){
                flex-direction: column;
                padding-bottom: 20px;
            }
            .user{
                &-info{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 15px;
                    @include mo-tablet(){
                        font-size: 12px;
                    }
                    @include parent-append('.reply ', 0, true){
                        margin-top: 20px;
                    }
                }
                &-name{
                    font-weight: bold;
                    @include mo-tablet(){
                        font-size: $f-size-l;
                        margin-bottom: 5px;
                    }
                    @include parent-append('.intro ', 0, true){
                        margin-bottom: 0;
                    }
                    @include parent-append('.reply ', 0, true){
                        padding-right: 100px;
                        font-size: $f-size-default;
                    }
                }
                &-thumb{
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    @include mo-tablet(){

                    }

                    @include parent-append('.host ', 0, true){
                        margin-left: 20px;
                        margin-right: 20px;
                        width: 90px;
                        height: 90px;

                        @include mo-tablet(){
                            margin-left: 10px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                    @include parent-append('.reply ', 0, true){
                        align-self: flex-start;
                    }
                }
                &-desc{
                    overflow: hidden;
                    margin-top: 20px;
                    .inner{
                        overflow: auto;
                        padding-right: 30px;
                        width: 100%;
                        height: 250px;
                    }
                    .desc{
                        line-height: 1.5;
                    }
                }
                
                &-homepage,
                &-insta{
                    overflow: hidden;
                    width: 100%;
                    line-height: 1.5;
                    text-overflow: ellipsis;
                }

                &-date{
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: $f-size-m;
                    span{
                        padding-left: 10px;
                    }
                }
            }

            .box{
                position: relative;
                width: calc(100% - 130px);
                line-height: 1.5;
                @include parent-append('.intro ', 0, true){
                    width: calc(100% - 60px);
                }
                @include parent-append('.reply ', 0, true){
                    width: calc(100% - 80px);
                    @include mo-tablet(){
                        width: calc(100% - 55px);    
                    }
                }
            }

            &__menu{
                display: flex;
                align-items: flex-start;
                padding: 12px 0;
                @include mo-tablet(){
                    margin-top: -10px;
                }
                button{
                    position: relative;
                    padding: 0 16px;
                    font-size: $f-size-l;
                    @include mo-tablet(){
                        padding: 0 10px;
                        font-size: $f-size-default;
                    }
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        bottom: 2px;
                        width: 1px;
                        background: $f-color;
                    }

                    &.active{
                        font-weight: bold;
                        color: #fff;
                    }

                    &:last-child{
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 2px;
                            bottom: 2px;
                            width: 1px;
                            background: $f-color;
                        }
                    }
                }
            }
            &__container{
                overflow: hidden;
                position: relative;
                height: 386px;
                @include mo-tablet(){
                    height: 100%;
                }
            }

            .title{
                display: block;
                margin-bottom: 20px;
                font-size: $f-size-xl;
                font-weight: bold;
                @include mo-tablet(){
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
            &__cont{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;
                transition: opacity .25s, visibility .25s;
                &.active{
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                }

                &.intro,
                &.host{
                    @include pc(){
                        overflow: auto;
                        height: 100%;
                    }
                }
                &.reply{
                    display: flex;
                    flex-direction: column-reverse;
                    @include mo-tablet(){
                        flex-direction: column;
                    }
                    .inp_wrap{
                        margin-top: 20px;
                        margin-bottom: 10px;
                        @include mo-tablet(){
                            margin-top: 12px;
                        }
                    }
                    .inner{
                        display: flex;
                        flex-direction: column-reverse;
                        @include pc(){
                            overflow: auto;
                            height: 300px;
                        }
                        @include mo-tablet(){
                            flex-direction: column;
                        }
                    }
                    .btn-reply{
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                        height: 30px;
                        padding: 0 10px;
                        color: rgba(0,0,0,.8);
                    }
                }
            }
        }
    }
}

.m_user-revoke{
    width: 400px;
    box-sizing: border-box;
    .btn-wrap{
        margin: 0 0 15px;
    }
    .btn_stroke{
        width: 100%;
        margin-top: 25px;
        &.revoke{
            font-weight: normal;
        }
    }
}

.ex-guide{
    .modal_content{
        height: 100%;
    }
    .ex-info{
        display: block;
        padding-bottom: 20px;
        @include pc(){
            overflow: auto;
            height: 100%;
        }

        &__cont{
            position: static;
            height: 100%;
            overflow: auto;
        }
    }
    
    .img-box{
        display: flex;
        flex-wrap: wrap;
        figure{
            display: flex;
            align-items: flex-end;
            box-sizing: border-box;
            width: 33.33%;
            padding: 5px;

            @include mobile(){
                width: 100%;
                padding-top: 20px;
            }
            img{
                width: 80%;
                max-width: 150px;
            }
            figcaption{
                margin-left: 5px;
                font-size: $f-size-l;
                font-weight: bold;
            }
        }
    }
    .desc{
        &-box{
            margin-top: 20px;
        }
        &-title{
            padding-bottom: 15px;
            border-bottom: 1px solid $border-bg;
            strong{
                font-size: $f-size-l;
                font-weight: bold;
            }
        }

        margin-top: 20px;
    }
}